@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-4">Yeni Ürün Sayfası</h2>

<form class="mt-4 form-group" method="post">
    <div class="mb-3">
        <label class="font-weight-bold mb-2" for="inputEmailAddress">Ürün</label>
        @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.urun, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label class="font-weight-bold mb-2" for="inputEmailAddress">Cari</label>
        @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.cari, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label class="font-weight-bold mb-2" for="inputEmailAddress">Personel</label>
        @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.personel, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label class="font-weight-bold mb-2" for="inputEmailAddress">Adet</label>
        @Html.TextBoxFor(x => x.Adet, new { @class = "form-control py-4", @placeholder = "Alış Fiyatı Giriniz" })
    </div>
    <div class="mb-3">
        <label class="font-weight-bold mb-2" for="inputEmailAddress">Fiyat</label>
        @*@Html.TextBoxFor(x => x.Kategoriid, new { @class = "form-control py-4", @placeholder = "Ürün Kategorisi Giriniz" })*@
        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control py-4", @placeholder = "Alış Fiyatı Giriniz" })
    </div>
    <div class="mb-3">
        <label class="font-weight-bold mb-2" for="inputEmailAddress">Toplam Tutar</label>
        @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control py-4", @placeholder = "Ürün Görsel URL Giriniz" })
    </div>
    @*<div>
        <label class="font-weight-bold mb-2" for="inputEmailAddress"></label>
        @Html.TextBoxFor(x => x.Durum, new { @class = "form-control py-4", @placeholder = "Durum Giriniz" })
    </div>*@
    <div class="form-group mt-4 mb-0"><button class="btn btn-success btn-block">Satış Yap</button></div>
</form>
